<div class="task-list-container">
  <h2>Listado de Tareas</h2>

  <button (click)="createTask()">Crear Nueva Tarea</button>

  <div class="search-section">
    <input type="number" [(ngModel)]="searchId" placeholder="Buscar por ID" />
    <button (click)="getTasksById()">Buscar</button>
  </div>

  <div *ngIf="taskById">
    <h4>Resultado de Búsqueda:</h4>
    <pre>{{ taskById | json }}</pre>
  </div>

  <ul>
    <li *ngFor="let task of tasks">
      <strong>{{ task.titulo }}</strong> - {{ task.description }}
      <button (click)="viewTask(task.id)">Ver</button>
      <button (click)="updateTask(task.id)">Editar</button>
      <button (click)="deleteTask(task.id)">Eliminar</button>
    </li>
  </ul>
</div>
