Introduce un codigo:
<input type="text" [(ngModel)]="producto.codigo" placeholder="codigo">
<br>
Introduce la denominacion:
<input type="text" [(ngModel)]="producto.denominacion" placeholder="denominacion">
<br>
Introduce el precio:
<input type="number" [(ngModel)]="producto.precio" placeholder="Precio">
<br>
Introduce el id de la categoria:
<input type="number" [(ngModel)]="producto.idCategoria" placeholder="id categoria">
<br>
Introduce id:
<input type="string" [(ngModel)]="producto.id" placeholder="id">
<br><br>
<button (click)="darAlta()">Dar de alta</button>
