<div class="container">

  Seleccione  Continente:

  <select [(ngModel)]="continenteSeleccionado" (change)="cargarPaisesContienentes()">

    <option *ngFor="let t of continentes" value="{{t}}">
      {{t}}
    </option>
  </select>

    <table class="table table-striped" *ngIf="paisesContinente">
    <thead>
  <tr>
    <th>Nombre</th>
    <th>Capital</th>
    <th>Continente</th>
    <th>Población</th>
    <th>Bandera</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of paisesContinente">
      <td>{{c.name}}</td>
      <td>{{c.capital}}</td>
      <td>{{c.region}}</td>
      <td>{{c.population}}</td>
      <td><img src="{{c.flag}}" width="50px"> </td>
    </tr>
  </tbody>
  </table>
  </div>
